@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})
}
<section class="noo-page-heading eff">
    <div class="container">
        <div class="noo-heading-content">
            <h1 class="page-title eff">@T("ShoppingCart")</h1>
            <div class="noo-page-breadcrumb eff">
                <ul>
                    <li>
                        <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                        <span class="delimiter">/</span>
                    </li>
                    <li>@T("ShoppingCart")</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <div class="commerce commerce-page commerce-cart noo-shop-main">
        <div class="container">
            <div class="row">
                <div class="noo-main col-md-12">
                    @Html.Partial("OrderSummary", Model)
                </div>
            </div>
        </div>
    </div>
</div>